.btn
  &.btn-link
    color c-black

    &:hover
      color c-primary

  &.btn-cta-i
    background-color c-primary-bg
    color c-primary

    &:hover
      background-color: c-primary-hover

  &.btn-nav
    height auto
    margin-left 40px
    padding 5px 18px
    font-size: 16px
    font-weight: 600
    line-height 1.2
    border-radius 5px

  &.btn-close
    position absolute
    right 0
    background-color c-grey-bg
    color c-grey
    border-radius 5px
    line-height 1

    &:hover
      color c-black

  &.btn-fw
    width 100%
    border 0

.link-muted
  color c-grey !important

a
  color c-primary

.content
  a
    color c-primary !important
