.c-0
  color #000

.c-black
  color c-black

.c-grey-dark
  color c-grey-dark

.c-grey
  color c-grey

.c-grey-light
  color c-grey-light

.c-grey-bg
  color c-grey-bg

.c-primary-light
  color c-primary-light

.c-primary
  color c-primary

.c-primary-bg
  color c-primary-bg

.c-secondary
  color c-secondary

.bc-grey-bg
  background-color c-grey-bg
