#app
  *
    font-family: 'Inter', sans-serif

  .h1, .h2, .h3, .h4
    color #000
    font-weight bold

  .h1
    font-size: 80px
    line-height 1
    letter-spacing -1.8px

  .h2
    font-size: 60px
    line-height 70px
    letter-spacing -1.35px

    +$mobile-only()
      font-size: 48px
      line-height 55px
      letter-spacing -1px

  .h3
    font-size: 30px
    line-height 44px
    letter-spacing -.65px

    +$mobile-only()
      font-size: 26px
      line-height 38px
      letter-spacing -.55px

  .h4
    font-size: 24px
    line-height 38px
    letter-spacing -.47px
    line-height 1.4

    +$mobile-only()
      font-size: 20px

  .h4-sub
    margin-top -8px
    font-size: 16px
    font-weight: 400
    letter-spacing -0.37
    color c-grey-dark
    line-height 1.4

  .content
    font-size: 16px
    line-height 1.66
    color c-black

  .content-l
    font-size: 18px
    line-height 1.5
    color c-black

  .content-xl
    font-size: 24px
    line-height 38px
    letter-spacing -.5px
    color c-black

  .content-hero
    font-size: 40px
    line-height 60px
    letter-spacing -.8px
    font-weight: 600
    color #000

    +$mobile-only()
      font-size: 32px
      line-height 48px
      letter-spacing: -.65px

  .page-title
    font-size: 40px
    line-height 1.2
    color #000
    font-weight: bold
    letter-spacing: -.5px

    +$mobile-only()
      font-size: 32px
