.z1
  z-index 1

.z10
  z-index 10

.mt40
  margin-top 40px

.mobile-show
  @media (min-width: 768px)
    display: none !important

.mobile-hide
  @media (max-width: 767px)
    display: none !important
