c-black = #3D3D3D
c-grey-dark = #7D7D7D
c-grey = #989898
c-grey-light = #e5e5e5
c-grey-bg = #f6f6f6
// c-primary-light = #5755d9
// c-primary = #FF7171
// c-primary-bg = #FFE5E6
c-primary = #099AA4
c-primary-bg = #E1FCF8
c-primary-hover = #C1FEF6
c-primary-dark = #05606E
c-secondary = #FFF0AE
c-red = #FF0B37
c-red-bg = #FFF3F5

$mobile-only()
  @media (max-width: 767px)
    {block}

$desktop-only()
  @media (min-width: 768px)
    {block}
